@font-face {
    font-family: 'absterregular';
    src: url('abster-webfont.woff2') format('woff2'),
         url('abster-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/bg.jpg)
}

.container .header{
    width:80%;
    height: 80px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .nav ul li{
    display: inline-block;
    margin:0 50px;
}

.container .nav ul li a{
    text-decoration: none;
    color: white;
}

.container .nav ul li a:hover{
    color: darkseagreen;
}

.container .spine{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .spine h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.container .spine p{
    font-size: 20px;
}

.container .spine a button{
    background: none;
    border:2px solid darkseagreen;
    color :white;
    padding:15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline:none;
    cursor: pointer;
    transition: all .4s;
}

.container .spine a button:hover{
    background-color: darkslategray;
}
